[2021-06-28 18:27] rexitaanthuraj commented on #338
Hi @vigneshtvp - please share the resolution ? I'm having similar issue while connecting to informix DB using the JDBC source connector .

[2021-06-30 03:51] ferchu commented on #1005
i had the same problem and in my case the issue was that the timestamp column had the type INT instead of TIMESTAMP.

[2021-06-30 19:08] philipp94831 opened #1088 "Close database connection when sink connector is idle"
We use Aurora serverless databases which automatically scale to zero if no connections to the database are active. However, the JDBC sink connector does not close the database connection if it is idle for some time. Using a connection pooling library such as Hikari allows to properly close idle connections (https://github.com/brettwooldridge/HikariCP#:~:text=%F0%9F%94%A2-,minimumIdle,-This%20prope

[2021-07-01 07:34] m-kay opened #1089 "Kafka Connect JDBC Source running even when query fails"
I'm running a JDBC source connector and try to monitor its status somehow via the exposed JMX metrics and a prometheus exporter. However the status of the connector and all its tasks are still in the running state when the query fails or db can't be reached.

In earlier versions it seems that no value for `source-record-poll-total` in the source-task-metrics was exported when the query failed and

[2021-07-06 14:49] kashish97 opened #1090 "Can any one help in providing support for tableau."
How can we add the support for tableau with kafka connect?

[2021-07-08 11:37] guija commented on #393
I completely agree to this. We're also stumbling over this every few weeks. Please prioritize this.

[2021-07-08 11:43] jonariver commented on #393
@Confluent-KG you guys get paid. what are you waiting for? christmas in 2030?

[2021-07-12 12:33] echang0929 opened #1092 "New version of Postgresql driver can not support partitioned tables"
I upgraded our Confluent Community Package helm cluster from 5.4.1 to 6.0.1, and installed jdbc plugin:
[code]
However, the new cluster can not support partitioned tables:
[code]
So, I replaced the new version of Postgresql driver with the old one on CCP 5.4.1:
[code]
Then, it is working now.

[2021-07-18 19:17] ashwani29 commented on #574
I got it working by setting `schemas.enable` for key and value to false as it suggests in the error message in both standalone-server and sink properties file.

[2021-07-23 04:07] eaglesinchina commented on #1020
my confluent platform is 5.5 ,but  connector-distribute.config did not work, i solve this as:
echo socket.request.max.bytes=524288000 >> kafka.properties
echo message.max.bytes=419430400 >> kafka.properties
echo producer.max.request.size=524288000 >> connect.properties
echo consumer.max.request.size=524288000 >> connect.properties

[2021-07-23 09:13] ZZa commented on #1029
Any news probably?
This is very costly to convert `CLOB` to `XMLTYPE` on the fly.

[2021-07-26 16:37] cyberjso commented on #1089
I'm experiencing the same issue. That makes error go unnoticed even when monitoring  available metrics.

[2021-07-26 16:45] helkmut commented on #1089
Same issue here! The connector status is wrong when SQL query fail!

[2021-07-26 22:38] rotem-ad commented on #522
I had a similar issue and adding this TimestampConverter SMT to the MySQL JDBC sink connector config did the trick:

[code]

HTH

[2021-07-28 12:15] hisahin commented on #309
I needed this case for normal table to partitioned table migration. I got same error.
If you use later version than 42.2.12, it still does not work.

[2021-07-28 18:19] echang0929 commented on #309
@hisahin , Please refer to my post: https://github.com/confluentinc/kafka-connect-jdbc/issues/1092

[2021-07-28 21:24] mdespriee commented on #1092
Same here. Using JdbcSinkConnector, Type: sink, Version: 10.2.0.

Starting from a connector working like a charm, adding `PARTITION BY RANGE()` to the table definition (and creating some partitions) makes it fail:

[code]
Although:
[code]

|table_catalog|table_schema|table_name|table_type|self_referencing_column_name|reference_generation|user_defined_type_catalog|user_defined_type_schema|user_defi

[2021-07-28 22:08] mdespriee commented on #1092
It's not related to connect version, but to jdbc.
@echang0929 can you try with `confluentinc/kafka-connect-jdbc:10.1.0` instead ?

They bumped postgresql jdbc version to 42.2.19 starting with 10.1.1 (https://github.com/confluentinc/kafka-connect-jdbc/commit/50211b1dfaf293e05fee4eebb5be02084586dd4a).

(I didn't test on my side yet, I'm using arrays, and they're supported in jdbc 42.2.19 not earlier

[2021-07-29 08:54] mdespriee commented on #1092
The problem is this change in the underlying pgjdbc implem: https://github.com/pgjdbc/pgjdbc/commit/25eb32c8681eaa4aaac801808b6028e9f5dfbea8#diff-0571f8ac3385a7f7bb34e5c77f8afd24810311506989379c2e85c6c16eea6ce4L1287

But this does not map nicely to this enum https://github.com/confluentinc/kafka-connect-jdbc/blob/60df0624278a0ee162d7774332fadf03992ea147/src/main/java/io/confluent/connect/jdbc/util

[2021-07-30 04:58] rgannu commented on #764
Can someone please review my submitted PR? Thanks.

[2021-07-31 18:07] scottsymm opened #1097 "PSQLException: ERROR: column "start_time" is of type time without time zone but expression is of type integer"
i am having issues trying to sink a Time field to postgresql.

does anyone have any suggestions ?

i get the following error
[code]

i have tried cast("start_time" as time) in the jdbc source connector, which led me to the following
 avro schema in the source and sink
[code]
i am using ksql to populate the topic that the sink connector uses.

 i have tried using as string and adding ?stringtype=un

[2021-07-31 19:11] scottsymm commented on #1097
it looks like the my ksql output stream is setting the topic schema to
[code]

which i guess makes sense b/c of `  `time` INT,`

[2021-07-31 21:17] scottsymm commented on #1097
the data in the legacy table is `13.00` - postgresql needs it to be `13:00:00` with microseconds to recognize it as a time

i think the fix to this is to keep the time field a STRING the whole way through,

fix the value in ksql (time + ':00') AS start_time,

then use ?stringtype=unspecified in the sink connector url

[2021-07-31 21:17] #1097 closed

[2021-08-02 12:09] atrbgithub commented on #1005
@zak-n was you able to resolve this?

We're seeing exactly the same. We even have 2 connectors setup querying the same table, both incrementing mode. Suddenly one of them will stop producing new messages to the topic.

[2021-08-02 16:42] aakashchhabra1989 commented on #1005
I setup a JDBC source connector using timestamp mode. configuration is straight forward as below:
This is working fine in postgres.  but when using MSSQL with datetime type column. instead of picking of cdc all data is getting picked up from table just like bulk mode. there is no error in log as well

{
    "name": "JdbcSourceConnector_1",
    "config":
    {
        "connector.class": "io.conflue

[2021-08-03 13:40] aleks-myplanet commented on #1005
Nope, this hasn't been solved in any way.

Aleksandar Stefanovic
Myplanet
myplanet.com <http://www.myplanet.com>
P: +1.866.232.7456

On Mon, Aug 2, 2021 at 12:42 PM aakashchhabra1989 ***@***.***>
wrote:

[2021-08-03 18:10] c0mradeuc opened #1098 "Cannot read field "diaName" because "this.tn" is null"
Hello people

When trying to configure the connector for timestamp increment is failing with "Cannot read field "diaName" because "this.tn" is null"

Configuration
![image](https://user-images.githubusercontent.com/16196167/128064980-c9a3bac7-e5f1-49b7-a90b-33499d827892.png)

Error
![image](https://user-images.githubusercontent.com/16196167/128064566-8a1f4653-74f8-47a2-b897-a44e113855fe.png)

[2021-08-07 03:37] thebinary commented on #950
@sajita does your error match the following on mentioning db.timezone parameter:
[code]

Is it this ```Invalid time zone identifier``` error?

[2021-08-07 03:39] thebinary commented on #950
if yes i will post a fix PR for this, or i will have to open another issue

[2021-08-07 03:56] thebinary commented on #950
i have opened PR #1101 if the error is ```Invalid time zone identifier```

[2021-08-10 05:26] Muddam0234 opened #1102 "MySQL Sink Connector - JsonConverter - DataException: Unknown schema type: null"
Please help with the following issue. Really appreciate it!

We are using Azure HDInsight Kafka cluster

My sink Properties:
{
"name":"mysql-sink-connector",
"config":

{ "tasks.max":"2", "batch.size":"1000", "batch.max.rows":"1000", "poll.interval.ms":"500", *"connector.class":"io.confluent.connect.jdbc.JdbcSinkConnector", "connection.url":"jdbc:mysql://moddevdb.mysql.database.azure.com:3306/db_t

[2021-08-11 18:00] adilamanat4 commented on #807
I'm facing similar problem. This issue is reported since more then a year now but no one has answered anything. Now i'm confused should i use that or not.

[2021-08-16 10:12] zhangqingzhou1024 opened #1104 "no tasks be assigned for source connector when created, show state is (0/0 in running)"
hi，I have a problem，when I create source connector, it can be created success ，but show it state is no tasks be assigned ，this connector'task all num is 0，
![image](https://user-images.githubusercontent.com/18170526/129547875-8a3ccf9c-35bb-4518-a5fd-a217330fda22.png)

 but when I change the connectorName to crated  again, this time the connector‘state is normal;

[2021-08-18 14:35] OneCricketeer commented on #219
As far as I can tell, the last `\Q.\E(\p{Nd}++)` grouping (milliseconds separated from seconds with a period) should be optional (if supported at all)

[2021-08-18 14:39] OneCricketeer commented on #1102
Please show a sample of the data in the database

[2021-08-18 20:13] sauljabin commented on #731
It works perfectly, thanks!, I do not understand why the unwrap

[2021-08-20 20:33] igorvoltaic commented on #846
Hey @bmoe24x! Chances you've found some sort of solution? What numbers you were setting in these two configs: `offset.flush.timeout.ms ` and `offset.flush.interval.ms`? I'm using 5min (300000) and 10min (600000) and it seems that is not enough (at least in my case). Different connector, but pretty much the same issue.

[2021-08-23 09:55] benjaminCassard opened #1106 "Unable to extractFieldwith SMT transformation in Oracle database"
I'm not able to perform SMT transformation "ExtractField" in order to extract field from key struct to a simple long value with an Oracle database. It works fine with a Postgres database.

I tried to use "ReplaceField" SMT to rename the key and it works fine. I suspect a problem in the class "org.apache.kafka.connect.transforms.ExtractField" on schema handling to get the field. Schema handling see

[2021-08-27 03:29] meiguanxiHXX opened #1108 "New Connectors block old Connectrs"
Hi
I deployed in distributed mode, and a batch of Connectors needed to be initialized by incremental time pull, but I found that the newly added connector would block the old connector, and only the latest connector from the database reached the target topic. Other queries will not be executed from the initialization time to the current time. The data at the initial time will be lost from that que

[2021-08-29 13:34] TruptiM18 commented on #747
@gharris1727 , Can I take up this task?

[2021-08-31 21:16] NathanNam commented on #590
@Avijit-07 @sangvk @shaunmaris could you share some examples of how you want to use a predefined procedure with records from Kafka in JDBC Sink?

[2021-09-02 10:41] zkning opened #1109 "debezium mysql timestamp format error?"
[2021-09-02 10:37:46,962] ERROR WorkerSinkTask{id=jdbc-sink-0} RetriableException from SinkTask: (org.apache.kafka.connect.runtime.WorkerSinkTask:605)
org.apache.kafka.connect.errors.RetriableException: java.sql.SQLException: Exception chain:
java.sql.BatchUpdateException: Data truncation: Incorrect datetime value: '2011-11-12T16:00:00Z' for column 'create_time' at row 1
com.mysql.cj.jdbc.exceptio

[2021-09-02 17:08] cstmgl commented on #1066
I think this is per design so I had to write my own dialect to handle this.

[2021-09-02 17:08] #1066 closed

[2021-09-05 10:14] aashokggupta commented on #714
Any solution for this issue.
I am facing same problem.
confluent version - 5.5.x
JDBC Drier version - OJDBC8.jar

[2021-09-05 10:14] aashokggupta commented on #690
Any solution for this issue.
I am facing same problem.
confluent version - 5.5.x
JDBC Drier version - OJDBC8.jar

[2021-09-06 08:28] ZZa commented on #690
@aashokggupta, which version of JDBC connector are you using?

Upgrade to the latest version of the connector, it should work there.

[2021-09-06 13:41] aashokggupta commented on #690
Where can i check the versions of JDBC connector. Can you please share. I am using 5.5.1 version of jdbc connector

[2021-09-09 20:58] picpromusic commented on #1002
This worked for me as prototype in OracleDatabaseDialect.

`
@Override
	protected String addFieldToSchema(ColumnDefinition columnDefn, SchemaBuilder builder, String fieldName, int sqlType,
			boolean optional) {
		// Handle Oracle specific types first
	  switch (sqlType) {
	    case 100:
			// Use the same schema definition as a standard Double
		  return super.addFieldToSchema(columnDefn, builder

[2021-09-09 21:04] picpromusic commented on #1002
We tried to work with VIEWs and Cast to other Column-Types (FLOAT) but unfortunatly ResultSetMetadata always return java.sql.Types.NUMERIC with big precision leading to a big byte[] in the resulting schema. The OJDBC-Driver is somehow misleading this implementation as the DatabaseMetadata::getColumns seems to returns the value java.sql.Types.(FLOAT|REAL|DOUBLE) . But ResultSetMetadata always retur

[2021-09-16 12:12] TruptiM18 commented on #747
@gharris1727 , Can I take up this task?

[2021-09-20 10:23] ifig opened #1115 "Primary key updates"
In Db2 databases for example, primary key updates are done doing the following : delete old row, add new row with the new key.
Let's take the example where a batch updates primary keys. In the JDBC connector, we treat 500 records :

We first receive an insert record, add it to the list of records to flush, and then receive a delete record (250 times to match the 500 records) and take the following

[2021-09-22 07:33] Abdulsametileri commented on #846
Same issue

[2021-09-22 08:19] igorvoltaic commented on #846
In my case that was transient error. Connector have been reporting timeout right on the next async offset commit. Could be clearly seen in SinkWorker's messages on debug level.

[2021-09-27 10:34] csokol commented on #432
Is there a way to set the initial offset? Is this planned to be picked up?

[2021-09-30 06:32] gengjie commented on #674
@myungjae1 Sorry I just found the same issue as you encountered. Although you've already close this ticket, I just saw that in your original configurations, you disabled "auto.create", but in your test case you enabled it. So if you create the target table by your self and don't let sink connector to create it, did it work? I just tested in my case, it didn't work at all. Thanks!

[2021-10-05 06:49] meyni3 opened #1121 "JdbcSourceConnector"
In my table the column TIME_STAMP is defined as CHAR(23 BYTE)
 my query is :
select * from (select t.*,to_timestamp(TIME_STAMP,'YYYY-MM-DD HH24:MI:SS.FF3') TIMESTAMP_MODE_COLUMN from OBJECT_PRULE_TYPES t)

and  "timestamp.column.name":"TIMESTAMP_MODE_COLUMN"

the connector is running but actual is throw the following exception :
 select * from (select t.*,to_timestamp(TIME_STAMP,'YYYY-MM-DD HH24:M

[2021-10-05 22:30] QuinnBast opened #1122 "Add jar file to artifacts"
Having a zip/tgz of the source code files is nice, but it would be really nice if you provided a `.jar` file in the artifacts for direct download so that we don't have to compile the jar ourselves if we need it. This is specifically [for use with strimzi](https://strimzi.io/docs/operators/0.21.1/deploying.html#using-kafka-connect-with-plug-ins-str), but I'm sure there are other use cases as well.

[2021-10-05 22:44] tplazaro commented on #721
Was this feature included in #999. We're using 10.2.2 with errors.tolerance=all, but during SQLException (constraint violation), it went to DLQ but didn't commit to the latest offset. Is this expected?

[2021-10-07 12:42] somesh7292 opened #1123 "Records with a non-null key and non-null Struct or primitive key schema but found with a HashMap key and null key schema."
We are  primary key error while using debezium and jdbc connector. Same connector configuration and database is working in confluent vm setup but not in gke.

Debezium source:

{
  "name": "MySqlConnectorConnector_0",
  "connector.class": "io.debezium.connector.mysql.MySqlConnector",
  "database.hostname": "ipaddress",
  "database.port": "3306",
  "database.user": "root",
  "database.password": "*

[2021-10-08 04:57] OneCricketeer commented on #609
JDBC sink requires Structured data, not strings.

FileStream source only writes strings unless you use a HoistField transform, for example

[2021-10-08 06:01] OneCricketeer commented on #609
How about using the JDBC source connector (or Debezium) from one database to another? The problem isn't the connector itself, it's the data you're sending through Connect, and the FileStream source just isn't a good example one to use

[2021-10-08 06:10] OneCricketeer commented on #1122
You can use confluent-hub to install all the JARs needed for this connector. It's not a fat JAR, so it's not possible to download just one file

[2021-10-08 06:24] somesh7292 commented on #1123
Hey @OneCricketeer Thanks for your reply, i'm a bit new to kafka, schemas is json i suppose by default i haven't changed it or used any key converter, so do i need to add a key converter class to the debezium config or what should be the probable solution to resolve this, your reply will be helpful thanks.

[2021-10-08 06:50] ggabmc commented on #609
Thank you so much , I changed the way  I was doing it... I'm directly sending the message to the topic with the kafka-console-producer including the schema and payload  and the sink is able to write those fields in the DB, thank you for your help I'm building a prove of concept to present it at work, thanks.

      kafka-console-producer.bat --bootstrap-server 127.0.0.1:9092  --topic demo-2-distri

[2021-10-14 07:23] demobin8 commented on #290
So, the solution is:
First, enable work configuration override by add docker env:
`CONNECT_CONNECTOR_CLIENT_CONFIG_OVERRIDE_POLICY: All`
Then, override customer configuration in connect configuration:
`"consumer.override.max.poll.records": 1000`

[2021-10-19 03:50] dungnt081191 commented on #645
@alibaltschun I'm at your situation. Same issue. But my table in DB source is already set primary key. Could you take a look for me.

my flow is : Postgress 12 --> Debezium connect source --> Kafka --> Connect sink jdbc --> Postgres 12

My db table have key `Id` with type `bigint`

My source connector config:
[code]

--> after create source connector debezium, data record go into kafka topic ( I c

[2021-10-19 05:44] dungnt081191 opened #1127 "Kafka connect sink JDBC - Postgres - SQLException - there is no unique or exclusion constraint matching the ON CONFLICT specification"
my work flow is : Postgress 12 --> Debezium connect source --> Kafka --> Connect sink jdbc --> Postgres 12

Table in DB source is already set primary key. Could you take a look for me.

My db table have key Id with type bigint

My source connector config:
[code]
--> after create source connector debezium, data record go into kafka topic ( I confirm is correct number of record )
Then add sink conne

[2021-10-19 05:44] dungnt081191 commented on #1127
@nvladimiroff  what do you think about this exception

[2021-10-19 17:53] QuinnBast commented on #1122
I mean this jar:

Where `$KAFKA_JDBC_VERSION` is the version you want to download.

I had to find some super obscure [Dockerfile](https://github.com/debezium/debezium-examples/blob/master/unwrap-smt/debezium-jdbc-es/Dockerfile) from some [stack overflow question with only 1 view](https://stackoverflow.com/questions/62456098/how-to-add-kafka-connect-jdbc-5-5-0-jar-to-debezium-connect) which wasn't

[2021-10-21 16:33] dungnt081191 commented on #1000
same issue here , any update in this issue @chapm250

[2021-10-28 06:55] GreenplumDB opened #1131 "JDBC to hive"
Hello, I want to use hive to connect to kafka-connect, but I have only found a way to connect to hdfs namenode. I don’t know if JDBC can be used to connect to kafka-connect. I have downloaded multiple JDBC versions, but it seems No connection to hive. Looking forward to your answer, thank you.

[2021-10-29 12:27] G3zz opened #1132 "Support configuring partition count for sink dlqs"
I noticed in this KIP there is a suggestion of being able to configure the number of partitions in the DLQ topics for sink connectors: https://cwiki.apache.org/confluence/display/KAFKA/KIP-DRAFT%3A+Error+Handling+in+Connect

This would be a useful addition

[2021-10-29 23:29] jinays05 commented on #1015
@ussama-rafique - have you found any solution to this issue? Did you try IDENTITY column if you are on Oracle 12c?

[2021-10-30 13:41] ussama-rafique commented on #1015
@jinays05 we have not found any clean solution for this. We are using postgres, not oracle, but we are using auto-increment columns. However, the problem will occur on Oracle too.
One work-around we have been using, is usage of views. In the view definition, we can add delay/lag and source connector will read from view, instead of the source table:
        `create view vw_customers as select * fro

[2021-10-31 09:25] yousufdev commented on #609
@OneCricketeer can you please start my SMT repo again ? My account got compromised and deleted.Thanks

[2021-11-01 09:02] monsterbka commented on #1084
Hi @abodalevsky,
I have problem with Sink Connector for PostgreSQL, i using same Sink config like you, but when i delete row from source database, it did not generate query to Delete to distance Database like your log
`[2021-10-29 08:45:12,954] WARN [JdbcSinkConnector1234|task-0] Found tombstone record; record ignored silently. (io.confluent.connect.transforms.TombstoneHandler:120)
[2021-10-29 08:

[2021-11-01 12:40] abodalevsky commented on #1084
@monsterbka `Found tombstone record;` means that message has been received by Sink connector. Then it was ignored, probably by misconfiguration.
Please check `pk.mode` `pk.field` and  double check that `"delete.enabled": true,`
Delete functionality will work if table's PK is used and configured properly.
This [tutorial](https://www.youtube.com/watch?v=ABOJGB5G35k) may help.

[2021-11-01 13:03] monsterbka commented on #1084
@abodalevsky  thank you for quick reply, i think all config is good

  "name": "JdbcSinkConnector1234",
  "connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
  "connection.password": "*********",
  "topics": "*********.public.FiinAdjustedRatio",
  "delete.enabled": "true",
  "connection.user": "*********",
  "connection.url": "jdbc:postgresql://*********",
  "insert.mode": "upsert",

[2021-11-02 23:46] jinays05 commented on #1015
Thanks for your response and insight on using view as alternate approach.

[2021-11-03 08:45] ReasonDuan opened #1133 "The server selected protocol version TLS10 is not accepted by client preferences [TLS13, TLS12]"
org.apache.kafka.connect.errors.ConnectException: Exiting WorkerSinkTask due to unrecoverable exception.
	at org.apache.kafka.connect.runtime.WorkerSinkTask.deliverMessages(WorkerSinkTask.java:609)
	at org.apache.kafka.connect.runtime.WorkerSinkTask.poll(WorkerSinkTask.java:329)
	at org.apache.kafka.connect.runtime.WorkerSinkTask.iteration(WorkerSinkTask.java:232)
	at org.apache.kafka.connect.runt

[2021-11-03 09:11] monsterbka commented on #1084
@abodalevsky i remove 2 tombstoneHandlerExample config and its work now, thank you!
[code]

[2021-11-04 09:52] ostap-palianytsia commented on #846
The same issue, are there any updates about this?

[2021-11-04 17:24] Protocol-X opened #1134 "java.sql.SQLException: ORA-22275: invalid LOB locator specified Error when using EMPTY_CLOB()"
This was not an issue with earlier versions of this connector, but with version 10.2.5 We are unable to use empty clobs in our results.

Previous version where it worked was quite old 3.3.0.  We have not used any versions in between.

TO_CLOB(NULL) works fine still though does not provided needed results .

`org.apache.kafka.connect.errors.DataException: java.sql.SQLException: ORA-22275: invalid L

[2021-11-07 09:56] typik89 commented on #46
Please close the issue because jsonb is supported now

[2021-11-08 19:08] brunocostalopes opened #1136 "Sink Connector with Snowflake - Tables not Found"
Hi,

I've setup Kafka locally and I'm trying to use the JDBC Sink Connector to write data into Snowflake but I keep getting the error below suggesting that the table can't be found in the database (I have auto creation disabled since it's not supported with Snowflake).

[code]

I can see the following query being run from the JDBC driver in Snowflake (and running it directly in Snowflake, with the

[2021-11-09 10:31] axeman74 opened #1137 "JDBC source connector - DB2 Dialect - AS400"
the underhood query issued to get the current time stamp is not supported in AS400. it only support CURRENT TIMESTAMP without <int> paramenter.

![CURRENT TIMESTAMP](https://user-images.githubusercontent.com/5896735/140907823-f3675358-2de6-49e6-9329-ec781e97c344.png)

my jdbc source configuration

"mode": "timestamp+incrementing",
    "incrementing.column.name": "SEQUENCE_NUMBER",
    "timestamp.c

[2021-11-09 11:32] punit-zeta commented on #1085
hi @sultan022 what was the error? I am having the same issue.

[2021-11-10 09:03] sultan022 commented on #1085
you have to provide your postgreSQL schema name in the **schema.pattern** property. i was providing db name, which was the problem.

[2021-11-10 09:03] sultan022 commented on #1085
you have to provide your postgreSQL schema name in the schema.pattern property. i was providing db name, which was the problem.

[2021-11-10 18:52] mikementzmaersk opened #1138 "Implicit Conversion error from topic to Microsoft SQL"
Hi
Getting this error when trying to sink topic data to Microsoft SQL - any ideas of things to try to get around this?

io.confluent.connect.jdbc.sink.JdbcSinkTask put - Write of 500 records failed, remainingRetries=0
java.sql.BatchUpdateException: Implicit conversion from data type nvarchar to varbinary(max) is not allowed. Use the CONVERT function to run this query.
	at com.microsoft.sqlserver.j

[2021-11-12 14:56] SarathBaiju commented on #769
Currently, I stuck with the same problem, and we are not decided to removing the foreign key constraints from the table. To solve this issue, I searched a lot in internet, I didn't find a way to do the same. But some result showing a nested JDBC connector(https://github.com/findinpath/kafka-connect-nested-set-jdbc-sink). When I read the documentation, I didn't understand the content in it. Also, I

[2021-11-14 18:34] shubhamsachan93 opened #1139 "worker- No tasks will be run because no tables were found"
Using kafka connect and jdbc source connector in standalone mode to fetch records from oracle database and put it into a queue.

using command to start connector- sh bin/connect-standalone.sh config/connect-standalone.properties source.properties

Source.properties-
name=jdbc_oracle_dcms_falcon
connector.class=io.confluent.connect.jdbc.JdbcSourceConnector
tasks.max=1
connection.url=jdbc:oracle:thi

[2021-11-14 18:42] #1139 closed

[2021-11-14 18:42] shubhamsachan93 commented on #1139
wrong config

[2021-11-16 21:50] tooptoop4 opened #1140 "Postgres connector - Error: null (INT32) type doesn't have a mapping to the SQL database column type"
config is:
[code]

below error:
[code]

if i don't have below 2 configs then error is about STRUCT doesn't have a mapping
[code]

[2021-11-19 14:43] vielfarbig commented on #585
I'm getting the same exception as @jinlunjie
I have data in AVRO in a kafka topic, where Lists are null instead of empty according to the AVRO Schema.
I don't know why I get this, I thought the JDBCSinkConnector can automatically transform AVRO to a Database Schema

[2021-11-24 05:51] dc-lilu commented on #516
Hi, I have the same problem in RedShift.Have this issue been solved? Can you please share the solution? Thanks!!!!

[2021-11-25 09:59] mataralhawiti commented on #1138
Can you share your sink connector config please?

[2021-12-02 16:10] dmarupov commented on #590
Has this feature ever been implemented? Meaning the ability to call a stored procedure in the DB? If not, would it be possible to change the code to achieve this goal? Thank you.

[2021-12-02 16:42] dmarupov commented on #194
I am also interested in this.

[2021-12-02 17:59] HM-RAJESH commented on #194
I think we need write custom connector. Basically source is for read, sink is for write.

[2021-12-03 13:29] colinsmetz opened #1142 "Entire Kafka Connect cluster stuck because of a stuck connector"
## Context

* Kafka Connect 6.1.2
* JDBC connector 10.2.1

## Current behaviour

We have stumbled upon an issue on a running cluster with multiple source connectors:

* One of our connectors was a JDBC source connector connected to an SQL Server database (using the [mssql-jdbc](https://github.com/microsoft/mssql-jdbc) driver).
* It turns out that the SQL server instance had a problem causing all q

[2021-12-03 17:05] szalapski commented on #1015
I struggled with this too, and I believe your proposed solution will not be sufficient, as there can always be rows that have a timestamp much earlier that commit later.  If you can guarantee that all INSERT or UPDATE queries' transactions write within one minute, you might try the "1 minute" approach above, but that is a nasty restriction.  We have several jobs that take many minutes.  If you mak

[2021-12-04 09:26] jinays05 commented on #1015
We came up with a different idea here. We are ensuring that all parallel processes are loading a PRE STAGE table, the order does not matter for this one. However, from PRE STAGE Table to the FINAL STAGE table we do single-threaded periodic inserts and use an ordered sequence while loading. This ensures an incremental column in the FINAL TABLE, which in turn is used in the connector. This is sort o

[2021-12-08 14:45] mikementzmaersk commented on #1138
Sure  :-)

Pretty basic...
I think it could be something around null values..

{
    "name": "sqlsink1",
    "config": {
        "connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
        "tasks.max": "1",
        "topics.regex": "sqlserver1.dbo.*",
        "connection.url": "jdbc:sqlserver://sqlserver1:1433;database=test;user=kafka1;password=redacted;encrypt=true",
        "transfo

[2021-12-09 18:12] mataralhawiti commented on #1138
Thanks.
from this :

It seems you're trying to inset (nvarchar ) field into (varbinary) in the destination table.
Checking your message schema in Kafka would be helpful.

Did you create the table in destination upfront or was it created by the connector ?

[2021-12-13 19:18] NathanNam commented on #590
@dmarupov It has not been prioritized. Since the code is open-sourced, you can customize this connector.

[2021-12-23 02:26] neilor-mendes opened #1146 "Unable to find fields - Union branch identified as a database column"
- cp-kafka-connect:7.0.1
- cp-kafka-rest:7.0.1
- cp-schema-registry:7.0.1
- cp-server:7.0.1
- cp-zookeeper:7.0.1
---
Folks, I'm going nuts here. For some reason the jdbc sink is treating the avro branch as a table field and failing to insert the message to the database.  I'm seding the json payload to the topic using a POST to the REST Proxy API and reading it using the sink to serialize into the

[2021-12-23 19:58] caseycrites commented on #412
@markns Did you ever get your customd dialect to work? I've followed the steps laid out by @gharris1727, but the dialect refuses to load even though the converters and smts I have in the same jar are loaded no problem. Have tried placing the jar in every conceivable place possible (starting with `/usr/share/confluent-hub-components/confluentinc-kafka-connect-jdbc/lib`), but to no avail.

[2021-12-23 21:35] caseycrites commented on #412
After struggling with this for several hours, I realized that the `META-INF/services` file was getting overridden by a dependency that should've been marked as `provided`. For anyone who comes upon this thread, make sure you take the `jar should not contain any dependencies provided by kafka connect runtime` warning seriously.

[2022-01-05 19:16] tkhasimbasha commented on #393
is this issue fixed..

[2022-01-06 13:52] bnymnsntrk commented on #600
I've added it to /kafka/confluent-5.4.1/share/java/kafka/ and looks like it's working for now.

[2022-01-06 18:23] nwt commented on #1138
I've run into this problem too. It's caused by a message containing a null value for a nullable bytes field.

Here's a script to reproduce it:
[code]

[2022-01-08 18:39] lfnt3 opened #1150 "cannot get topics.regex working"
Hello,

I'm using "confluentinc/kafka-connect-jdbc:10.2.6".

When I set "topics" explicitly then it's working fine, but when I set "topics.regex" instead then no tables are being created in questDB.
What am I missing?

This is working:
{
  "name": "jdbc_sink_ftx",
  "config": {
    "connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
    "topics": "trades-FTX-ETH-USD-PERP, trades-FTX-

[2022-01-11 06:15] tomyChr commented on #734
@robinroos same probleme here. Is there a better solution in the meantime? Otherwise looks like that I have to clone the connector and add  my logic on top.

[2022-01-13 17:29] crutis commented on #971
So why isn't `batch.max.rows` just added as a limit statement to the generated query?

[2022-01-17 04:59] hunghoang-ct opened #1155 "How to migrate enum type to another postgres?"
Hi everyone, currently I'm migrating data from one Postgres to another that using Debezium and jdbc sink connector. My source DB schema has a table name "film" that contains a column name "rating" with type of enum. When "rating" column's data transfers from source database to Kafka via Debezium it has been transformed into string. And then the jdbc connect cannot convert them back to enum. So are

[2022-01-17 12:44] avinash0720 commented on #833
hi @sandycomp ,
Were you able to find a solution of this?
I am also stuck with exactly same issue. If I give the increment column name only then the error I get is: "ambiguous column" and if I give incrementing column with alias then the error is: "not a valid field name"
Not sure how to to proceed.

[2022-01-18 14:22] tfariassantanna commented on #558
What's version that this feature is implemented in the image `confluentinc/cp-kafka-connect-base` ? Thanks a lot !

[2022-01-18 14:33] OneCricketeer commented on #558
Linked above, the ConfigProvider class was added in Kafka 2.0. Kafka Connect versioning is the same as the brokers.

You can find Confluent Platform corresponding versions at https://docs.confluent.io/platform/current/installation/versions-interoperability.html

[2022-01-18 14:36] OneCricketeer commented on #1150
You need to match the whole topic name, not a substring.

Surely you want something like `trades-FTX-.*`

[2022-01-18 14:38] OneCricketeer commented on #1136
Is there a specific reason you need to use JDBC?

https://www.confluent.io/hub/snowflakeinc/snowflake-kafka-connector

[2022-01-18 14:41] OneCricketeer commented on #1131
Hive tables can easily be built over the HDFS Sink data.

Alternatively, Hive has a native Kafka handler

[2022-01-18 17:13] lfnt3 commented on #1150
Perfect, that's it, thanks a lot!

[2022-01-18 17:13] #1150 closed

[2022-01-19 15:06] timtebeek commented on #1092
Thanks for the details @mdespriee ; I've added https://github.com/confluentinc/kafka-connect-jdbc/pull/1156 to hopefully resolve this going forward.

[2022-01-20 10:54] alozano3 commented on #721
Same. We're using 10.1.0 and the offset is not commited when there is a constraint violation.

[2022-01-20 11:21] bertrandcedric commented on #721
We have the same issue using the connect jdbc 10.2.0.

[2022-01-22 03:35] Karthik7287 opened #1160 "got wrong , while creating connector"
{"error_code":500,"message":"Failed to find any class that implements Connector and which name matches io.confluent.connect.jdbc.JdbcSourceConnector, available connectors are: PluginDesc{klass=class org.apache.kafka.connect.file.FileStreamSinkConnector, name='org.apache.kafka.connect.file.FileStreamSinkConnector', version='6.0.0-ccs', encodedVersion=6.0.0-ccs, type=sink, typeName='sink', location=

[2022-01-25 10:36] brunocostalopes commented on #1136
I wanted to be able to use some of the functionalities available in the JDBC connector such as auto table creation, auto schema evolution and use of upserts, but I have since realised that none of these are available with Snowflake.

The only advantage for us ended up being that the JDBC connector can write the data directly into tables with a well defined schema, rather than just loading the data

[2022-01-25 11:02] OneCricketeer commented on #1160
How did you install the JDBC Connector?

As of Confluent Platform 6.0, no connector is included expect those that come with Apache Kafka

[2022-01-25 16:14] laratutoteam commented on #279
**get this easy error solving** https://laratuto.com/solved-out-of-memory-error-in-query-sybase_connect/

[2022-02-03 17:21] kriskrishna opened #1165 "Message dropped on Oracle topic cannot auto create table in MYSQL using jdbc sink"
[2022-02-03 17:14:45,496] INFO JdbcDbWriter Connected (io.confluent.connect.jdbc.sink.JdbcDbWriter)
connect            | [2022-02-03 17:14:45,822] INFO Checking MySql dialect for existence of TABLE "ORCLCDB"."C__MYUSER"."EMP" (io.confluent.connect.jdbc.dialect.GenericDatabaseDialect)
connect            | [2022-02-03 17:14:45,862] INFO Using MySql dialect TABLE "ORCLCDB"."C__MYUSER"."EMP" absent (i

[2022-02-04 10:10] luxpermanet commented on #971
I don't have an oracle setup but how about using the "query.suffix" configuration parameter.

[https://docs.confluent.io/kafka-connect-jdbc/current/source-connector/source_config_options.html](url).

The documentation claims that this is the "suffix to append at the end of the generated query". Could this be an option?

For example: "query.suffix": " FETCH FIRST 10 ROWS ONLY".

[2022-02-04 12:58] cannontrodder commented on #971
@luxpermanet it can work, sometimes the query you need to use to pull from the table requires some nesting of subqueries and in order to force a particular execution plan, the LIMIT or TOP directive needs to be in a subquery with the connect applied WHERE clause needing to be outside it. The above solution from me helps in that case. What would be better is just being able to completely replace th

[2022-02-08 08:13] teimyBr opened #1167 "Oracle Database gets Freezed"
Using kafka-connect-jdbc-10.3.1
with Oracle 19c.

Running the Connector in bulk modus seems to work.

But at some time the connector only gets the same data and not new data. And a few hours later it works again.
It seems that the database is frozen. But if i run the Query with SQL Developer it gets new data.

Running the connector in DEBUG Modus only show that the messages return gets smaller.

A

[2022-02-09 06:24] rupeshmore85 opened #1168 "WorkerSourceTask: Failed to flush, timed out while waiting for producer to flush outstanding 1 messages"
I am running a Kafka connector for MirrorMakerCheckpoint connector on confluent 7.0.0. However the checkpoint connector WorkerTask fails. I have tried to set `offset.flush.timeout.ms = 100000` as mentioned in : https://github.com/confluentinc/kafka-connect-jdbc/issues/161#issuecomment-277154340 , however it didn't work for me.
Any help would be highly appreciated.

[code]

[2022-02-11 22:52] alex88 commented on #923
If you disable create/evolve clickhouse works fine, it's still missing support for some columns like MAP ones

[2022-02-14 14:08] theLazyCat775 commented on #764
having the same issue.
@daanroosen-DS have you been able to resolve this issue?

[2022-02-15 22:11] cyriljoui opened #1170 "OutOfMemory with mariadb java driver"
Hello,

We are facing OOM with JDBC source connector with large table (80 millions of rows)
We have found some existing issues
 - https://github.com/confluentinc/kafka-connect-jdbc/issues/34
 - https://github.com/confluentinc/kafka-connect-jdbc/pull/775

Database : RDS Aurora
Driver : MariaDB

But finally we did not succeed to fix that by configuration.
MariaDB Driver documentation : https://maria

[2022-02-15 22:30] limjf85 opened #1171 "Does JDBC sink supports sending a message to a different topic after successful write, in a way similar to publishing to a dead letter queue after error?"

[2022-02-15 22:34] limjf85 commented on #1171
I do not see a way to easily determine if a particular message was successfully consumed by the connector.

[2022-02-16 02:44] williehao opened #1172 "Delete mode fails in JDBC Connector"
I have tried to use JDBC Source and Sink Connectors with the MSSQL server, it is okay between updating and inserting records, but unfortunately, delete still doesn't work for me, please help me to fix this issue.

Source connector

[code]

Sink  Connector
[code]

MSSQL:

[code]

[2022-02-16 12:49] teimyBr commented on #1172
I had same issues with postgres. In my case the user rights was the problem. Whats the error message in the connector. In best case in debug mode

[2022-02-17 11:42] gwasky commented on #542
@sunnikumar Specify the dialect property dialect.name=PostgreSqlDatabaseDialect

[2022-02-17 13:03] gwasky commented on #1140
insert.mode property should be insert

[2022-02-18 11:21] rmoff commented on #1172
Can you give more detail than " delete still doesn't work for me" ? Do you get an error?
Also check these resources:
- https://www.youtube.com/watch?v=ABOJGB5G35k&t=1766s
- https://rmoff.net/2021/03/12/kafka-connect-jdbc-sink-deep-dive-working-with-primary-keys/#_deleting_records_in_the_target_database_with_kafka_connect_jdbc_sink_connector

[2022-02-21 01:41] williehao commented on #1172
@OneCricketeer  Thanks for your message, in fact, I have tried to change from JDBC Source connector to Debezium, but unfortunately, Deletion still doesn't work(add and update are okay).
my question
1. Could you do me a favor to give me a simple example between Debezium source Json content and JDBC sink Json content , if this solution is okay for me to fix my issue.

Thanks again.

[2022-02-21 01:49] OneCricketeer commented on #1172
@williehao I suggest posting your specific Debezium issues to Stackoverflow or Debezium's own issue board if you were not able to get it working

Also you should read this page for how it functions with delete events https://debezium.io/documentation/reference/stable/transformations/event-flattening.html

[2022-02-21 01:51] OneCricketeer commented on #1171
The consumer offsets topic is updated when events are consumed, and the group lag should reduce

[2022-02-21 03:03] williehao commented on #1172
@rmoff I'm very new to Kafka, and I've seen your blog or youtube many times, unfortunately, I still don't know how to delete row data, hopefully, you can help me to fix my issue.
**I. My Apache Kafka test**
1. Connectet-distributed.properties
[code]
2. JDBC Source connector

[code]

4. JDBC Sink  Connector
[code]

5. MSSQL Server DB table:(create 2 tables(source and target) at the same MSSQL Serve

[2022-02-21 03:19] OneCricketeer commented on #1172
Hello again @williehao

What exactly has been unclear about the information provided?

1. The exact timestamp to a video for handling null values **from the sink connector** has been linked, as well as mentioned in a blog
2. We've stated the _source JDBC connector_  is **not** able to put those tombstone messages into the topic for the JDBC sink to read. You can verify this yourself using a plain

[2022-02-22 18:09] vijayanandnandam commented on #945
Did you find the solution to this? I am facing this issues as well in upsert mode..

[2022-02-23 08:43] MKhurana1208 commented on #721
Hi,
We are facing the same issue, offsets are not committed on SQLException. Is there any workaround to check if the messages are in DLQ.
Thanks,
Meenu

[2022-02-23 19:42] limjf85 commented on #1171
Thanks

[2022-02-23 19:42] #1171 closed

[2022-02-23 21:01] teimyBr commented on #740
What was the Problem ?

[2022-02-27 16:52] kkrgwbj opened #1173 "I am getting this error while testing"
`Caused by: org.apache.kafka.connect.errors.ConnectException: Sink connector 'test-sink' is configured with 'delete.enabled=false' and 'pk.mode=none' and therefore requires records with a non-null Struct value and non-null Struct schema, but found record at (topic='quickstart-events',partition=0,offset=0,timestamp=1645938414713) with a Long value and null value schema.
        at io.confluent.conn

[2022-02-28 13:10] ghamandipp opened #1174 "Timezone conversion issue"
I am trying to push data to my clickhouse server from mysql using kafka connect connector. Both MySQL and Clickhouse are in "America/Los_Angeles" timezone. End user is inserting data to MySQL and is being stored in LA time. A kafka_connect connector is pushing data to clickhouse where its getting saved as -8:00 UTC. Seems like kafka_connect is converting data to UTC format. I am using `"database.s

[2022-03-01 01:07] #1172 closed

[2022-03-03 06:17] teimyBr commented on #1005
I know the source of the Problem. This is the Cache Connection. I forked the Connector and gets every new Run a new Connection and close it afterwards. And also set the Connection as ReadOnly. And dont call the method stmt.close because in the oracle documentation stands this chache the Results in the ojdbc.

[2022-03-08 17:10] cyriljoui commented on #1170
Any news ?
MariaDB : https://jira.mariadb.org/browse/CONJ-929?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=216420#comment-216420

[2022-03-11 23:57] alex88 commented on #659
@mtraynham sorry for resurrecting such and old issue, but do you mind sharing your custom dialect? I have the same use case for clickhouse and I'm trying to achieve the same

[2022-03-12 00:17] mtraynham commented on #659
@alex88 sure, I don't mind.  Just a fair warning:
- It's written in Kotlin, so you'd have to rewrite to Java
- When I was using it, we depended on Kafka 2.2.0, so it may be outdated
- I had to duplicate [org.apache.kafka.connect.json.JsonConverter](https://github.com/apache/kafka/blob/trunk/connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java) because it needed access to [pr

[2022-03-12 00:36] alex88 commented on #659
Oh that's just perfect, we use kotlin too and I was exactly looking into overriding `maybeBindLogical`..
Thanks a lot!

[2022-03-12 00:53] alex88 commented on #557
For me the only thing that didn't work was the Map support which was easily solved by this https://gist.github.com/alex88/ea6af9812daf92166d034580d2c074bc

[2022-03-14 01:33] JalalSordo commented on #566
I had the same issue with **timestamp** mode, and I had a lot of inner queries plus nested where clauses, I added "--" at the end of my query and it worked many thanks @lenimartin

[2022-03-15 19:55] teimyBr commented on #1167
Its on bug in ojdbc driver. you can fix it by creating every poll an new connection.

[2022-03-15 19:55] #1167 closed

[2022-03-17 15:22] souvikTtn opened #1181 "Ltree Support for kafka connect JDBC Sink Connector"
Kafka Connect Version : 7.0.1
Jdbc Sink Conector version : 10.2.5

Facing Casting issue when using JDBC sink connector while inserting/sinking  varchar data  into postgres db with datatype as Ltree.
Data type used in kafka table  is VARCHAR
Data type used in postgres table is Ltree
error message ::

[code]

[2022-03-18 11:45] denis019 commented on #721
Hi all,
I tested with:
 - cp-kafka-connect-base:7.0.1
 - kafka-connect-jdbc-10.3.3
 - mariadb-java-client-3.0.3
 Not processed messages are stored in DLQ.

[2022-03-22 01:08] yansheng105 commented on #1173
key.converter.shcemas.enable  and value.converter.shcemas.enable in connect-stand.properties  should be true.
You should add pk.mode attribute to sink.properties, and its value should be record_key

[2022-03-31 00:35] mrabbah commented on #338
I have the same issue please can you share the solution

[2022-03-31 04:45] dboyce commented on #338
As I recall, we forked this connector and patched it to support Informix - as you have noted, it's a simple fix. It was a long time ago and I no longer work at the same company but AFAIK this is the approach they still take.

[2022-04-01 09:38] fizwan commented on #592
Still got this as well

[2022-04-05 06:56] mohannadkayali commented on #1051
I have the same issue @jnSWPC did you manage to fix it?

[2022-04-06 22:33] mrit commented on #403
Hi @asifmom , any update about that ? I have same problem with large dataset.

[2022-04-07 00:35] mrit opened #1184 "jdbc connect source for large dataset without N views, is possible ?"
Hi,

I have large dataset (10kk~) to be fetch by kafka connector, from begining, its possible without creating N views and N connectors, just reading from database according jdbc batch size and self control of row postition (timestamp or increment) ?

[2022-04-07 04:32] asifmom commented on #403
I did a small hack and used the custom build jar only for initial migration. Check if that works for you. source code is present at: https://github.com/asifmom/kafka-connect-jdbc

ps: This was done around 5 years back.

[2022-04-12 09:42] Utkarsh-0211 opened #1185 "Converting byte[] to Kafka Connect data failed due to serialization error of topic connect-topic1:"
Even though I'm passing the right schema registry and the converter class I'm still getting this error

""
2022-04-11 11:47:20,038 ERROR WorkerSinkTask{id=databus-sink-connector1-0} Error converting message value in topic 'connect-topic1' partition 0 at offset 1 and timestamp 1649677639879: Converting byte[] to Kafka Connect data failed due to serialization error of topic connect-topic1:  (org.apa

[2022-04-12 09:44] Utkarsh-0211 commented on #1185
Can anybody please look into and help

[2022-04-12 09:51] Utkarsh-0211 commented on #1185
@rhauch request for your help please

[2022-04-19 17:40] yissatayev commented on #964
Hi @rmoff can you please help with the problem above?

[2022-04-20 15:11] SecretServiceNinja commented on #36
"handle composite primary keys" for numeric and non-numeric columns will be available anytime soon ?

[2022-04-27 21:51] #1075 closed

[2022-04-27 22:00] nuria commented on #1045
mentioning existence of transforms here cause I think they will help: https://stackoverflow.com/questions/60193325/kafka-connect-jdbc-sink-isse-with-table-name-containing-a

[2022-05-08 13:24] FreCap opened #1190 "From Debezium MySQL `date` to `Date` in postgres"
It appears that when I create tables in Postgres with JDBCSinkConnector coming from MySQL Debezium, it doesn't preserve the "Date" column type and transforms it to an integer.

[code]

I found a similar issue in this ticket (https://github.com/confluentinc/kafka-connect-jdbc/issues/64), but this was specific to hadoop

Auto created table by the JDBCSinkConnector in postgres
[code]

Original table

[2022-05-08 15:04] FreCap commented on #1190
It appears that using this option in the source solves the problem
[code]

[2022-05-09 12:12] LongZaiAiYueLiang opened #1191 "Delete mode fails in Kafka Sink Connector"
I have tried to use JDBC Source and Sink Connectors with the MSSQL server, it is okay between updating and inserting records, but unfortunately, delete still doesn't work for me, please help me to fix this issue.

source
[code]
sink
[code]
When I delete data, the message corresponding to topic
[code]
Data structure of table
[code]
kafka version: 2.13-2.6.0

I don't understand why this happens. I t

[2022-05-12 20:47] maurolscla commented on #1155
Curious about this as well. I have the same problem within the context of psql to psql migration.

[2022-05-18 15:34] FreCap commented on #1190
Double checking this, it appears that using the option:
```        "time.precision.mode": "connect", ````
works for the `date` field only, but not the `timestamp`.

Does a work around exist?

[2022-05-18 18:56] Abderrahim-WADDIZ commented on #1190
i'am having the same issue with timestamp, even if i specified connect in my configuration i'm getting always an integer in the output
[code]

[2022-05-19 08:20] pmalon opened #1193 "JDBC (MySQL) Sink Connector fails after adding new column to the table"
Scenario:
1. Sink Connector is running
2. DDL is executed that adds new columns to the table
3. Messages with new fields are written to the Kafka Topic (new schema version is registered)
4. Connector fails totally with the error:
[code]

Connector configuration:
[code]

[2022-05-23 22:47] NathanNam commented on #46
Hello,

Sorry for the delayed response. https://github.com/confluentinc/kafka-connect-jdbc/pull/875 has addressed the JSONB and JSON support for PostgreSQL.

The following software versions have been used.
- Confluent Platform v7.0.1
- JDBC Connector v10.4.1
- Amazon RDS for PostgreSQL

# JSONB
Create a table (the following example has been taken from [Faster Operations with the JSONB Data Type in

[2022-05-23 22:47] #46 closed

[2022-05-23 22:50] NathanNam commented on #643
https://github.com/confluentinc/kafka-connect-jdbc/issues/46#issuecomment-1135209669

[2022-05-23 22:50] #643 closed

[2022-05-23 22:52] NathanNam commented on #670
https://github.com/confluentinc/kafka-connect-jdbc/issues/46#issuecomment-1135209669

[2022-05-23 22:53] #670 closed

[2022-05-25 05:48] NirBarak-RecoLabs opened #1194 "Support writing to multiple tables for multi-schema topic."
The JDBC connector assumes all messages from a given topic are mapped to the same topic.
Our use-case utilizes multi-schema topics. We would like to be able to output each schema to its appropriate table.

I've gone over the code, and it looks like the change to support this is trivially simple. All that needs to be done is change the behavior of the `JdbcDbWriter.destinationTable()` function to t

[2022-05-26 20:07] spencerdcarlson opened #1196 "connection.url is logged out in clear text and can contain passwords"
It looks like `connection.password` is correctly hidden but

connection.password = [hidden]

[code]

[2022-05-27 16:20] OneCricketeer commented on #46
IIUC, this requires some schema of a type string to match the jsonb column? In other words, it's not possible to insert a Connect Struct type into a jsonb column? For example, Debezium Mongo Connector could create nested Avro record types from its documents.

[2022-05-31 08:57] dipdeb opened #1198 "JDBC Source Connector connection.url error"
Hi
I have installed the confluent local version - 7.1.1. After installing the kafka-connect-jdbc getting this error
`An unexpected error occurred: org.apache.kafka.common.config.ConfigException: Missing required configuration "connection.url" which has no default value.`
on clicking the JdbcSourceConnector tile on the control center.

How to solve this problem?

[2022-05-31 16:44] OneCricketeer commented on #46
@NathanNam Yes, I understand the example, but that didn't answer my question if Struct Connect types can be directly inserted into a json column, or will there need to be some transform to stringify it?

[2022-05-31 22:31] NathanNam commented on #46
@OneCricketeer Would the following schema and records meet what you are looking for?
Avro Schema
[code]

Kafka records
[code]
If not, could you share some examples?

[2022-06-01 03:47] niaomingjian commented on #1019
I placed hive-jdbc driver in kafka-connect jdbc folder and wanted to move data for hive to kafka, then got the following error.

[code]

In [org.apache.hive.jdbc.HiveResultSetMetaData](https://github.com/apache/hive/blob/master/jdbc/src/java/org/apache/hive/jdbc/HiveResultSetMetaData.java#L71), many methods are not supported.
[code]
Could kafka-connect-jdbc add support for hive?

@OneCricketeer Wh

[2022-06-01 03:48] OneCricketeer commented on #1019
@niaomingjian https://github.com/apache/hive/tree/master/kafka-handler

[2022-06-01 03:52] OneCricketeer commented on #1198
According to the error, you didn't supply the listed value, which is required

[2022-06-01 03:58] OneCricketeer commented on #1191
When the connector consumes a null record, how would it know which row to delete?

[2022-06-01 04:10] OneCricketeer commented on #1193
Have you tried setting `auto.evolve=true` to allow for the connector to update the table itself rather than you running DDL outside of it?

[2022-06-01 04:13] OneCricketeer commented on #1185
Your shown connector config is for S3 sink. Please show your JDBC sink config

That's plain JSON and has no schema, so you probably don't want to use JSONSchemaConverter. Instead you only need **JSONConverter**, however you are required to have a schema as part of your data for the JDBC sink to work

[2022-06-01 05:15] OneCricketeer commented on #46
@NathanNam Seems like a fine example; it's not a string and the JDBC Sink would therefore try to generate a table with 6 columns, as I understand.

[2022-06-01 07:02] dipdeb commented on #1198
@OneCricketeer thanks for the idea. It's working now. The problem is in the latest version of kafka-connect-jdbc (10.5.0). I had installed kafka-connect-jdbc couple months back in another machine and it is working, so I checked the version of jdbc connector in the old machine, using
`curl localhost:8083/connector-plugins | jq`
and tried installing the same version in the new machine instead of usi

[2022-06-02 23:37] NathanNam commented on #46
The following records are created by Datagen Source (``"quickstart": "users_"``)

Avro Schema
[code]

Kafka records
[code]

If a JDBC Sink is created with the following config,
[code]
the connector will fail with the following error message.
[code]
CREATE TABLE users (
  registertime bigint,
  userid text,
  regionid text,
  gender text,
  interests text [],
  contactinfo jsonb);

[code]
Caused by

[2022-06-03 00:05] OneCricketeer commented on #46
I more was asking about putting all / subset of fields directly into a json column. As I suspected, data needs manipulated to be stringified first.

Primitive arrays are supported (#1044). I already knew maps weren't.

[2022-06-03 01:09] OneCricketeer commented on #1198
Glad to hear it. Feel free to close the issue

[2022-06-03 08:39] raipragyaa opened #1199 "Dead letter queue topic not getting created as KAFKA Admin client times out for listTopics method"
I am trying to enable dead letter on my JDBC Sink Connector. In sink connector configuration, I have provided following properties

[code]

But while creating the Sink connector, I am getting following error -

 `{"message":"Failed to start task MY_SINK_CONNECTOR-0","level":"ERROR","mdc": {"connector.context":"[MY_SINK_CONNECTOR|task-0] "},"@timestamp":"2022-06-02T14:28:08.043Z","logger_name":"org

[2022-06-06 10:53] ogok commented on #811
Hi, we have the same problem and could not find any solution. Did you solve this?

[2022-06-08 06:59] krishnendudas1979 opened #1200 "JDBC source connector with bulk mode giving error as tableName is not a valid field name (io.confluent.connect.jdbc.source.JdbcSourceTask:437)"
Hi
I have to configure the JDBC source connector in bulk mode. Below is the connector configuration

name=<name_1>
connector.class=io.confluent.connect.jdbc.CmJdbcSourceConnector
tasks.max=1
connection.url=<url>
connection.user=<user id>
connection.password=<password>
mode=bulk
topic.prefix=<topic_prefix>
table.whitelist=<table name>
poll.interval.ms=10000
schema.pattern=<schema name>
validate.non

[2022-06-09 08:03] ahvahsky2008 commented on #645
@dungnt081191 same issue. Do you solve it?

[2022-06-10 05:39] rajp2007 opened #1201 "JDBC Sink Connector not able to convert date stored in long format back to Date format again while loading a table in Oracle."
Hello All,
I am new to Kafka and exploring Debezium for Change Data Capture. I have used Debezium source connector to read data from Oracle database. In the Kafka Topic, the date is stored in the "long" format. e.g. "EFFDT": { "long": 852076800000 }. Now I am using JDBC Sink connector to read a data from the topic and replicate it to another Oracle table. The EFFDT is a Date field in the source an

[2022-06-10 17:37] szalapski commented on #393
No.  They are ignoring it.

[2022-06-14 03:42] ryan-0526 opened #1202 "BLOB field slows down when JDBC sink is written"
Hello, I use Kafka connect JDBC sink to write data to Oracle. Once the BLOB field type is added, it becomes very slow. For example, I define the writing batch size as 20000. Adding the BLOB field, it takes 3 hours to write about 3.5 million data. If the BLOB field is not added, the same batch will be written in less than 10 minutes

[2022-06-15 06:09] sgv0007 commented on #867
@alexpee I am facing same issue . were you able to resolve this issue or is there ny workaround. please help

[2022-06-15 08:22] alexpee commented on #867
Sadly not, we are temporary opt out the column in our sink connector by blacklisting the field with varbinary.
Somehow, I feel it is not right to sync a huge binary data such image using Kafka as well.

[2022-06-16 06:48] sgv0007 opened #1203 "Implicit conversion error while inserting record to MicrosoftSQL server"
Hi All,

version: Kafka-Connect-jdbc:10.4.1

My issue is exactly same as what was described in below case . I am getting error while inserting null value to column of type binary
In the below case it was mentioned as resolved but i still get this error.

https://github.com/confluentinc/kafka-connect-jdbc/issues/1138

please let me know if i have to use  10.5.0 version .

Thanks,
Shiva

[2022-06-17 07:42] souvikdgreat opened #1204 "Reduce retention.ms from default 7 days to 1 day (Make it configurable) for the dead letter topic created for error handling via sink connector"
Hi, We are creating a sink connector along with the error handling mechanism , so if in case if there is bad record it is routed to error queue , The properties used while creating the sink connector are as following

[code]
now is there any way we can configure the retention.ms for the dead letter queue topic i.e from default 7 days to 1 day , or is there any way we can change the compaction poli

[2022-06-17 10:42] #1200 closed

[2022-06-17 10:42] krishnendudas1979 commented on #1200
The issue is solved.

[2022-06-17 14:42] fred-ro opened #1205 "Impossible to stop source connector while in connection attempt"
It is impossible to stop the source connector before it has exhausted all its connection attempts.
If you configured wrong DB connections params or your DB is unreachable, you can just wait !

[2022-06-20 07:56] souvikdgreat commented on #1204
Raised The Issue here
https://issues.apache.org/jira/browse/KAFKA-14011

[2022-06-22 23:08] tooptoop4 opened #1207 "bump oracle jdbc driver to 21.6.0.0"
https://github.com/confluentinc/kafka-connect-jdbc/blob/v10.5.0/pom.xml#L60

[2022-06-23 17:21] CC-Hsu opened #1208 "Multiple PKey sets of multiple tables support for `pk.fields`"
Hi, Team,

I try to setup a single JDBC Sink connector task with multiple target tables without success,
and I find that this goal currently might not be possible according to the discussion in [Issue#743](https://github.com/confluentinc/kafka-connect-jdbc/issues/743).

I feel that one reason I encounter is the `pk.fields` setting format is not easy to specify different primary columns for differe

[2022-06-24 04:40] safiraauliar opened #1209 "Can't connect confluent jdbc connector to mysql server"
hi, I'm new to Kafka. when I create a JDBC connector to MySQL with a different server, the connector always fails. and in the MySQL server log there is a warning like this:
2022-06-24 00:24:17 4911 [Warning] IP address '***.**.**.***' could not be resolved: Name or service not known

how can I resolve this? or is there another configuration in the MySQL server?
Thanks in advance

[2022-06-28 09:21] MaxPrimeAERY opened #1210 "JDBC Sink Connector in appropriate sequence for specified tables"
I have several tables which have foreign key constraints.

How can I store tables in appropriate sequence so table that has foregn key wont go first ?

[2022-06-28 13:08] mroiter-larus opened #1211 "JDBC Source Connector unable to find table in Oracle custom schema"
Hi,

i'm currently using JDBC Connector 10.5.0 (downloaded from Confluent Hub) and i'm getting the following error:

[code]

In my use-case i would like to keep two Oracle instances in-sync using JDBC Connector. My test environment is Dockerized and below you will find the `docker-compose.yml` i've used:

[code]

Here is the JSON configuration about my JDBC Source connector:

[code]

I'm using ojb

[2022-06-28 14:58] mroiter-larus commented on #1211
Taking a look at the source code it seems that JDBC Source task should look for a property named `tables`. Then I tried also adding `"tables": "test"` in my JSON Source connector configuration but the error is still the same and analyzing the logs it seems that `tables` property is still empty:

[code]

[2022-06-30 22:01] tlazaro11 commented on #601
I have the same problem. Although not using postgres any update on this?

[2022-07-05 10:19] const commented on #590
For those who want it for sink. For Postgres it is possible to specify table.types = "TABLE, VIEW", then create a view, and than create a trigger on the view of type "INSTEAD OF INSERT" that calls stored procedure. BTW please document the property table.types in the documentation. Approach for other databases might differ.

We have used it work around problems with the default upsert strategy.

I

[2022-07-09 17:43] FreCap opened #1216 "0x00 never supported in Postgres, automatic stripping"
When copying over data from MySQL to Postgres I hit the exception:

[code]

According to: https://stackoverflow.com/a/1348551, 0x00 is never a supported character

[code]

**Question**
Since we cannot change the source data (being a downstream only service), what could be the best strategy to remove the 0x00 characters?
How could/Should this be baked into JDBCSinkConnector?

[2022-07-13 09:30] mukeshus commented on #1089
Can you please explain what is the setting that we need to make in the connector config to make the connector failure in case of SQL exception?

[2022-07-13 13:32] brwskitime opened #1217 "Sql Server currentSchema not working. Always uses dbo."
We need to be able to specify different schemas when connecting to sql server.  currentSchema on the url doesn't work. Looking through the code, I noticed "dbo" is hard coded in SqlServerDatabaseDialect.java, line 116.  Is there a way to specify a schema?

[2022-07-13 13:41] #1217 closed

[2022-07-14 14:29] mukeshus commented on #1089
I don't see it is failing. Attaching a connector config where I passed an unknown table that really don't exist in the DB. But the connector is still running even though  there is a SQL exception. My jdbc connector version is 10.5.1
![image](https://user-images.githubusercontent.com/22808588/179006472-42727f83-274d-4485-bf5d-f2dbeaca8418.png)
![image](https://user-images.githubusercontent.com/2280

[2022-07-14 16:23] sfc-gh-adlee commented on #1140
was this resolved?

[2022-07-15 14:05] colinsmetz opened #1218 "Support Oracle NUMBER for incrementing fields"
Hello,

With our team, we have an Oracle database with a NUMBER column that we use as the incrementing field. The values in this column have the form `202109171437040633984411` so they exceed the value of `Long.MAX_VALUE` and we get the error:

We do not have any other column that we could use as the incrementing field.

I checked and found two old issues related to that:
- https://github.com/conf

[2022-07-18 07:03] wonho-son opened #1219 "connections.max.idle.ms option is not work"
I'm set connections.max.idle.ms option in Kafka Connect Config
but JDBC Source connector Producer config is not applied ..

Kafka Connect log

(Connect init log..)
DistributedConfig values:
...
connections.max.idle.ms: 60000
...

(JDBC Source Connnector init log..)
ProducerConfig values:
...
connections.max.idle.ms: 540000
...

Why the option doesn't apply??
help me plz
T^T

[2022-07-19 04:05] #1219 closed

[2022-07-21 05:04] OneCricketeer commented on #1198
But you still have the ability to add the url under Additional Properties.

This issue itself is not with the JDBC connector. It should be brought up elsewhere for Control Center.

[2022-07-21 05:05] OneCricketeer commented on #1209
This is a networking error in your local environment, so you will need to provide more details

[2022-07-21 05:13] miramar-labs commented on #1198
but even if you do that, you've then lost all the other properties that need to be set ... the page doesn't 'reload' ...

why not just add a default value of "" or null in JdbcSourceConnectorConfig.java .. around line 426 .. that would keep the UI happy I'm sure...

[2022-07-21 13:50] cstmgl opened #1220 "question about db structure cache"
Hi all,
I'm having a weird error, that I know is not caused by the code but I'm very curious how this happens and I don't understand the implementation.
Basically I get a Null Pointer exception in version 10.2.8 (even if the code seems unchanged forever).

[code]

The question I don't get is:
Table gets created successfully here:
https://github.com/confluentinc/kafka-connect-jdbc/blob/v10.2.8/src/

[2022-07-21 14:03] cstmgl commented on #1220
ok my first question was not so smart... I guess just tired of trying to read other people code.
https://github.com/confluentinc/kafka-connect-jdbc/blob/v10.2.8/src/main/java/io/confluent/connect/jdbc/util/TableDefinitions.java#L61

It's obvious how the cache is built, the part I need to try and understand is why Oracle Dialect is telling me the table does not exist even if he creates it.

[2022-07-21 14:56] cstmgl commented on #1220
somehow on version 2 of H2 in memory DBs we have a new type that is neither TABLE nor VIEW but BASE TABLE and the table was then not found. Anyway we can't configure it because the types only accept TABLE or VIEW and nothing else.

[2022-07-22 08:00] cstmgl commented on #1220
just for reference the problem was related to the config for the table.types that only allows values VIEW, TABLE and not "null"
Since in H2 version 2.X they introduced a new type (BASE TABLE) then we can't make it work.
We use H2 just for testing so this is not an issue per-se but it would probably be nice if the Enum would support more values or if somehow we would be able to define null instead

[2022-07-22 08:01] cstmgl commented on #1220
somehow on version 2 of H2 in memory DBs we have a new type that is neither TABLE nor VIEW but BASE TABLE and the table was then not found. Anyway we can't configure it because the types only accept TABLE or VIEW and nothing else.

just for reference:
https://github.com/h2database/h2database/issues/3213

[2022-07-28 12:20] Mohamed-0-Hassan opened #1221 "Connection to Azure SQL failing "Azure Active Directory only authentication""
The messeging i'm getting is while try to connecto a Jdbc sink to Azure SQL server
Caused by: com.microsoft.sqlserver.jdbc.SQLServerException: Login failed for user 'userName'. Reason: Azure Active Directory only authentication is enabled. Please contact your system administrator. ClientConnectionId:86adfa535f-e

Looking at the Azure documentation we also need to pass "authentication"
Currently th

[2022-08-01 02:41] FX-HAO commented on #674
a workaround for Postgres:
[code]

[2022-08-04 17:53] bjosloff commented on #1198
Any update on this issue.  I'm see the same problem on CP 7.2.1 control center.
Version 10.4.x and above are throwing this error.
An unexpected error occurred: org.apache.kafka.common.config.ConfigException: Missing required configuration "connection.url" which has no default value.

[2022-08-04 18:31] miramar-labs commented on #1198
while you wait for a resolution, a workaround is to toss the web GUI altogether and use scripts/REST calls to manage your connectors - see [here](https://docs.confluent.io/platform/current/connect/references/restapi.html#connectors)

[2022-08-06 02:11] maximilianobl commented on #338
Can you please comment how to solve this problem? I would be grateful....

[2022-08-06 02:50] maximilianobl commented on #747
Can I take up this task?

[2022-08-08 05:38] vigneshtvp opened #1229 "How many JDBC connection will get created"
Need info for below use case:

Use case 1:
1 source connector
task.max = 2
table.whitelist=table1
For this property how many JDBC connection will get created.

Use case 2:
1 source connector
task.max = 2
table.whitelist=table1, table2, table3
For this property how many JDBC connection will get created.

Use case 3:
1 source connector
task.max = 3
table.whitelist=table1, table2, table3
For this pro

[2022-08-08 07:14] bonndan commented on #760
Any news?

[2022-08-12 13:25] tooptoop4 opened #1232 "support multi-row insert for performance"
https://github.com/aiven/jdbc-connector-for-apache-kafka/commit/2df30630969eec0bdeac919fd457fb0ac6ef77ff

[2022-08-16 18:22] ddcprg opened #1233 "Add configuration property to select to use Avro non-logical types per column"
We have a use case where we send a `long` value with logical type `timestamp-millis` but we want to ingest this as a `bigint` in our table. At the moment this is not possible and we have implemented our own dialect to support this.

If you think this can be handy to other people I'll be happy to contribute the code

[2022-08-19 10:29] sunrongpu commented on #280
这么大的公司，连这个小问题都解决不了，好几年了还存在，真不敢想象

[2022-08-26 01:02] maximilianobl commented on #576
@vigneshtvp  could you share your jdbc with the modifications in some repository? I would greatly appreciate it. :)

[2022-08-26 08:07] haje01 commented on #112
It's 2022, but I still need this feature.

I need to call a dynamic query through `sp_executesql` function in MSSQL, but of course MSSQL does not support `WHERE` clause with that.

It would be great if there was the placeholder as @shikhar suggested. Then I can include that placeholder in my dynamic query.

[2022-08-29 17:15] DavSanchez-DPT opened #1235 "JDBC Source not closing DB connections (incl. across restarts)"
Hello,

We are finding that if we have a working connector and perform an update by changing config (using the [REST interface's PUT endpoint](https://docs.confluent.io/platform/current/connect/references/restapi.html#put--connectors-(string-name)-config)), then the DB connections are not closed. For example, if we used some connection credentials to connect with the DB, then change to a different

[2022-08-30 08:54] AmanLonare opened #1236 "Configuration of JDBC Sink Connector in KsqlDB from MySQL database to PostgreSQL database"
I wanted to copy a table from MySQL database to PostgreSQL. I have KsqlDB which acts as a stream processor. For the start, I just want to copy a simple table from the source's 'inventory' database to the sink database (PostgreSQL). The following is the structure of inventory database:
[code]

I have logged into the KsqlDB and register a source connector using the following configuration

[code]

T

[2022-09-02 08:00] FX-HAO opened #1237 "JdbcSinkConnector causes a loss of precision when handling Postgres NUMERIC type with unspecified scale"
I'm using `Debezium PostgresConnector` and `JdbcSinkConnector` to migrate a Postgres database to a new one. But I found out there is a loss of precision when handling `numeric` type with unspecified scale.

my JdbcSinkConnector config:

[code]

You can reproduce the issue with follows:

1. create table in both Postgres databases
[code]

2. insert a record in source database

[code]

3. select in s

[2022-09-05 05:51] wangshuang0220 commented on #1190
any solution about this promblem?

[2022-09-08 07:03] atrbgithub commented on #1089
Also see:

https://github.com/confluentinc/kafka-connect-jdbc/issues/973
https://github.com/confluentinc/kafka-connect-jdbc/issues/892

[2022-09-09 14:58] k1th commented on #1216
is anyone interested in this change? We could do this in `io.confluent.connect.jdbc.dialect.PostgreSqlDatabaseDialect#maybeBindPrimitive`
for example, adding a version of
[code]
that replaces \u0000 chars with nothing…

[2022-09-13 08:23] zhjuncai commented on #1218
we had incremental ID columns in decimal type like `30000000000000000002680033`, which exceed `Long.MAX_VALUE` too.

How can we support this scenario

[2022-09-13 09:24] anuragtelang commented on #194
I have tried invoking oracle function as per your above suggestion but kafka connect JDBC connector is throwing error "ORA-00933: SQL command not properly ended".
Can you please elaborate the implementation steps in more details.

[2022-09-13 09:39] kafkaconnectBeginner opened #1238 "How to invoke a oracle stored procedure or a function using JDBC source connector"
We can't use a CDC connector as we don't have Oracle DB LogMinor access. So we have developed a Oracle PL/SQL based CDC framework that gives us updates in a similar way.
Since this is a Stored procedures and functions based implementation so we are trying to see a possibility of invoking Oracle stored procedures/functions from JDBC connector. There was a suggestion in another issue [Issue-194](htt

[2022-09-15 12:59] SrikantaRoy opened #1240 "kafka-connect-jdbc-10.5.1 issue"
HI ,
We are facing the connector source issue for version kafka-connect-jdbc-10.5.1.jar and mysql-connector-java-8.0.25.jar while connecting with mysql 8.0.25.
Sometime the connection is getting establishe but sometime the connection is getting break.
we are not able to receive the data from the data base tables.

[2022-09-15 13:48] kafkaconnectBeginner commented on #1238
Now able to access pl/sql function. Closing the issue. Thanks

[2022-09-15 13:48] #1238 closed

[2022-09-15 19:54] mails2irfan commented on #194
Hi, I am new to kafka. Can anyone please share examples how to connect kafka with oracle to execute stored procedure.

Thank You.,

[2022-09-17 16:33] FreCap opened #1242 "__debezium_unavailable_value in JSON column causes exception"
I was experimenting on REPLICA IDENTITY DEFAULT in debezium (https://debezium.io/documentation/reference/stable/connectors/postgresql.html#postgresql-replica-identity), but it seems that the JDBCSinkConnector automatically tries to cast `'__debezium_unavailable_value'` to jsonb, causing an exception.

Can we have a "protected value" of some kind to avoid this insert?

`java.sql.BatchUpdateExceptio

[2022-09-20 02:57] t0nem1n commented on #1242
i have the same problem
i fix that by changing the config replica identity to full for that table
https://debezium.io/blog/2019/10/08/handling-unchanged-postgres-toast-values/

[2022-09-20 04:25] FreCap commented on #1242
I did the same, but it is quite more expensive, that I’d rather not keep
for longer term

On Mon, Sep 19, 2022 at 10:57 PM t0nem1n ***@***.***> wrote:

[2022-09-20 11:20] AlrikG commented on #968
I have exactly the same issue. Is there any solution for this?

[2022-09-21 08:51] #1211 closed

[2022-09-22 10:31] do0p opened #1243 "How to retrieve records with timestamp value '0001-01-01 00:00:00.000' ?"
I am trying to retrieve records via timestamp mode from a table with timestamp values '0001-01-01 00:00:00.000'. I am also setting the initial timestamp to '0001-01-01 00:00:00.000' via timestamp.initial (earlier is not possible). Since the query generated by the TimestampTableQuerier looks like ts > ? and ts < ? I am never getting those records. Is there a way to acchieve this?

[2022-09-26 21:12] OneCricketeer commented on #1236
Here's the key words in the error

Therefore, you must set `'key.converter.schemas.enable'= 'true`

Otherwise, override one of these options `delete.enabled=true'` or `'pk.mode=record_key'`, as the error indicates

[2022-09-27 16:18] janjwerner-confluent commented on #1028
Andy,
Thank you for raising this issue. The CVE has been addressed.

[2022-10-07 07:25] mikementzmaersk commented on #1198
Same issue here, with a variety of different kafka connect UI's (akhq, kafka-ui etc...) - as well as failures provisioning via api port 8083 directly.   10.3.3 is the only version this works on, all versions since have this issue.

[2022-10-08 11:33] regorvincentnono commented on #846
May I ask if somebody knows this issue?

[2022-10-13 01:16] hemanthsavasere opened #1248 "Entire Kafka Connect cluster stuck because of a stuck sink connector"
We have stumbled upon an issue on a running cluster with multiple source/sink connectors:

1. One of our connectors was a JDBC source connector connected to an SQL Server database (using the oracle JDBC driver).
2. It turns out that the DB instance had a problem causing all queries to be stuck forever, which in turn made the start method of the connector hang forever.
3. After some time, the entir

[2022-10-13 18:57] iSumitBanik commented on #592
Faced the same issue today.

[2022-10-14 17:54] atompki111 opened #1249 "JDBC Source connector reporting Time type error"
I am running the JDBC Source Connector against DB2 and intermittently the connector fails with the error below. I have looked at the data in the source table, and there are no issues with the time columns of this table. In fact, any column defined as any type of date cannot have invalid time data because DB2 itself will not allow it, so this error doesn't make sense. I also cannot pinpoint which c

[2022-10-18 10:08] DiogoSilva14 opened #1251 "Can't query SYS tables with Oracle DB Source"
Hi,

I'm having some trouble querying SYS tables. My connector configuration is the following:
`
{"name": "test_connector",
	"config": {
		"connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
		"connection.url": "jdbc:oracle:thin:@localhost:1521:TEST_DB",
		"connection.user": "X",
		"connection.password": "oracle123",
		"topic.prefix": "test_connector_",
		"mode":"bulk",

[2022-10-18 13:05] lukens opened #1252 "No suitable driver found (Firebird)"
I'm trying to get a source connector working from a Firebird database.

I've turned on debugging, and it looks like it's loading the relevant jar files from the plugins path:

[code]

and is registering the driver:

[code]

but when it tries to connect, I get the "No Suitable Driver Found" error:

[code]

(I'm using Strimzi, if that makes any difference)

[2022-10-18 16:05] DiogoSilva14 commented on #1251
Found the solution. Both DBA_TABLES and GV$SESSION are synonyms, so I had to include "table.types: "SYNONYM,TABLE"".

[2022-10-18 16:05] #1251 closed

[2022-10-18 17:12] lukens commented on #1252
I've figured it out.

I suddenly remembered I'd had an issue before in my 20+ years of Java programming, where a class wasn't being found by another as it had been loaded by a different class loader, and I wondered if this was the issue here.

I had been loading the `kafka-connect-jdbc` and `jaybird` files in two different folders under `plugins`. I instead combined them into the same folder, and

[2022-10-18 17:12] #1252 closed

[2022-10-20 15:34] rkudryashov opened #1254 "Add `record_header` PK mode"
Hi, for some use cases it would be convenient to extract PK from a record's headers (`id` header).

Specifically, when using [Outbox SMT](https://debezium.io/documentation/reference/stable/transformations/outbox-event-router.html), an event's `id` is put in the headers of emitted record

[2022-10-24 14:58] timtebeek commented on #309
@bli24 would you mind closing this one in favor of #1029 ?
Most recent updates are on that one and pull request #1156

[2022-10-24 15:05] timtebeek commented on #1092
As of 10.6.0 there's now support for partitioned tables again.
Update the plugin and in your connectors pass:
`"table.types": "PARTITIONED TABLE,TABLE"`
@echang0929 can you confirm & close this issue?

[2022-10-26 14:49] AnatoliAliaksandrou opened #1260 "CVE-2022-31197"
confluentinc-kafka-connect-jdbc-10.6.0\lib\postgresql-42.3.3.jar Vulnerability.

[2022-10-27 12:01] gokhansahin commented on #592
same is today mysql,

[2022-11-01 13:58] koureasstavros commented on #645
Same issue, I think this is an issue on JDBC Connector, when the table has only primary key columns and no other column there is nothing to update and thefure the statement syntax is wrong as it always excepts a column to update after the on-conflict.

[2022-11-01 16:46] Jacka12 opened #1263 "How to use kafka-connect jdbc mode incrementing without pull all data at the first connect"
I have mssql and OracleDB and need to stream data to redis, and i just need new data streaming, no need old data. When i make connection with mode incrementing, in the first time it will pull all data from mssql to topic. How can't i avoid this. because our data is very large.

[2022-11-03 08:43] oleksandrkovalenko commented on #1216
I would like to work on this one. I will try to come with PR during the weekend.

[2022-11-04 13:05] oleksandrkovalenko commented on #1216
https://github.com/confluentinc/kafka-connect-jdbc/pull/1264

[2022-11-05 02:19] miramar-labs opened #1265 "Support Snowflake JDBC Driver"
And make sure it can do UPSERTS ....

[2022-11-07 14:15] janjwerner-confluent commented on #1260
Thank you for raising this issue. We are aware of it and we expect it to be resolved in an upcoming release.

[2022-11-10 13:52] msrrasal commented on #360
Hi,

I am able to connect to the Sybase database using the JDBC source and sink connector using the JTDS driver.
Which is inbuilt and comes with JDBC connect. Refer sample configuration

Source
{
	"name": "MY CONNECOTR NAME",
	"config": {
		"connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
		"connection.url": "jdbc:jtds:sybase://HOSTNAME:4000/SCHEMA_NAME",
                "connec

[2022-11-11 04:03] tungns84 commented on #1263
Use both query and incremental mode. Query to get LIMIT rows by LIMIT sql clause.

Hope help you.

[2022-11-11 14:49] maximilianobl commented on #1084
Hello! Do you happen to have an example in a repository? I would like to see the interaction of the source with the sink.
:)

[2022-11-15 17:09] suket123 opened #1268 "Kafka sink to db for blob types results into ReadOnlyBufferException"
Running into the following exception when running kafka sink to Oracle DB for a column with type bytes
[code]

[2022-11-15 20:24] simpleusr opened #1269 "No way to provide query timeout for source tasks"
JDBC API provides `java.sql.Statement.setQueryTimeout(int)`   method to limit query execution time. Currently there is no way to provide  such a query timeout for source tasks.

[2022-11-15 20:51] simpleusr commented on #1269
Submitted a pr for this

https://github.com/confluentinc/kafka-connect-jdbc/pull/1270

Regards

[2022-11-15 20:57] bedwar2 commented on #917
I am also getting that error and article referenced above is no longer available.

[2022-11-16 15:38] thiagohsp commented on #846
Same logs here. Any solutions?

[2022-11-16 18:08] igorvoltaic commented on #846
That's transient error. You might want to bump the timeout

[2022-11-17 03:23] Shawn-Zhang-R commented on #1191
@LongZaiAiYueLiang I just meet the same problem, Did you got any solution yet? Could you share it?

[2022-11-18 04:48] FX-HAO commented on #674
I made an SMT that converts all debezium timestamp fields to string fields. can try it out https://github.com/FX-HAO/kafka-connect-debezium-tranforms

[2022-11-23 18:54] thiagohsp commented on #385
@imranrajjad Did you get any updates on this issue? I'm trying to find some tuning guidelines to jdbc sink connector too.

[2022-11-24 06:09] yuzuopin opened #1271 "ERROR: invalid byte sequence for encoding "UTF8": 0x00 Call getNextException to see other errors in the batch"
source connect is below:
{
    "name": "mariadb-connector",
    "config": {
        "connector.class": "io.debezium.connector.mysql.MySqlConnector",
        "tasks.max": "1",
        "database.hostname": "xxxx",
        "database.port": "xxxx",
        "database.user": "xxxx",
        "database.password": "xxxx",
        "database.server.id": "123",
        "database.server.name": "xxxx",

[2022-11-29 19:28] ruettere commented on #846
I also encounter the same issue, any idea how to solve this?

[2022-11-29 20:58] ruettere commented on #846
I found the reason for this: in my case I didn't defined a primary key in the target table where the upsert were done to, as soon as the primary key was added this WARN entries haven't appeared any more

[2022-11-30 22:09] muhammadali321 opened #1273 "Timestamp conversion issue"
Hello Team,
I'm pretty new to Kafka and my use case is to stream Realtime data from MySQL to Greenplum using Kafka

we have a table in mysql replicadb database

structure on mysql side

CREATE TABLE `student_enroll_custom1` (
  `student_id` int(11) DEFAULT NULL,
  `enroll_date` date default '2021-01-01 00:00:00'
) ENGINE=InnoDB DEFAULT CHARSET=utf8

mysql debezium cdc connector configuration
-----